body{
 font-family: Georgia, 'Times New Roman', Times, serif;  
}
div {
    display: block;
    float: left;
}
.carroFiltravel{
    width: 600px;
    padding: 20px;
    background-color: pink;
}
.carroFiltravel h1.title{text-align: center;}
.filtros, .resultado{
    width: 560px;
    padding: 20px;
    background-color: rgb(192, 192, 192);
}
.filtros{
    margin-bottom: 10px;
}

li{
    list-style: none;
}